# Variables de Entorno de Ejemplo para Producción
PORT=3000
NODE_ENV=production

# Base de Datos PostgreSQL en la Nube (Render, Supabase o Neon)
DATABASE_URL=postgresql://tusoin_user:password@hostname:5432/tusoin_db

# Credenciales Maestras de Respaldo por Defecto
MASTER_ADMIN_EMAIL=Admin2027@tusoinrd.com
MASTER_ADMIN_PASSWORD=AdminD&J2027

# Lista Blanca Restringida de Google OAuth 2.0 (Separada por comas)
ALLOWED_GOOGLE_EMAILS=gerencia@tusoinrd.com,admin@tusoinrd.com,tusoin.rd@gmail.com
